@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.green-background {
  background: #5eba5e; /* fallback for older browsers */
  background: linear-gradient(-90deg, #579f57 0%, rgba(61, 216, 61, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #62be62 0%,
    rgba(31, 62, 31, 0) 100%
  );
}

.green-gradient {
  background: linear-gradient(90deg, #3d993d 0%, #006400 100%);
  background: -webkit-linear-gradient(90deg, #00FF00 0%, #006400 100%);
}

.green-bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
